.app-wrapper {
  background: url(./wallpaper3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 80%;
  width: 90%;
  overflow: auto;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 200px auto 200px;
}

.sidebar {
  backdrop-filter: blur(200px);
}
