.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.tag {
  color: var(--color-primary);
  background: var(--color-light-primary);
  padding: 8px 15px;
  margin: 5px;
  border-radius: 10px;
  font-weight: 100;
}
